header{
    background-color: #2F303A;
}
footer {
    background-color: #2F303A;
}
a[href^="https"] {
    color: red;
  }
  ul + p {  
    font-size: 24px;
  }
  
  .web-studio {
    color: blue;
}
.do-your-job {
  color: #2196F3;
}